.card {
    display: grid;
    border-radius: var(--_border-radius);
    background: var(--_clr-white);
}

.card__heading,
.card__footer {
    /*===== Suddenly stopped working, when made changes to folder structure, so for now i have to force this padding =====*/
    padding: var(--_spacing-1) !important;
}

.card__heading {
    position: relative;
    border-top-left-radius: var(--_border-radius);
    border-top-right-radius: var(--_border-radius);
    background: var(--_clr-dark-blue);
    font-size: 16px;
    color: var(--_clr-white);
    /*===== Suddenly stopped working, when made changes to folder structure, so for now i have to force this padding =====*/
    padding: var(--_spacing-2) var(--_spacing-1) !important;
    cursor: pointer;
}

.card__heading::before {
    content: attr(data-date);
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--_clr-grey);
    font-size: small;
    opacity: 0;
    animation: fadeIn 1s ease 2.7s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.card__heading::after {
    content: '';
    position: absolute;
    top: -2.55rem;
    left: 50%;
    transform: translateX(-50%);
    background: var(--_clr-white);
    border: solid 0.2rem var(--_clr-dark-blue);
    border-radius: 9999px;
    width: 1rem;
    height: 1rem;
    z-index: 99;
    opacity: 0;
    transition: 0.3s ease-in-out;
    animation: popping 1s ease 1s forwards;
}

.mainPoint::after {
    top: -2.8rem;
    width: 1.4rem;
    height: 1.4rem;
    background: var(--_clr-white);
}

@keyframes popping {
    0% {
        opacity: 0;
        transform: translateX(-50%) scale(0);
    }

    50% {
        opacity: 1;
        transform: translateX(-50%) scale(1.2);
    }

    100% {
        opacity: 1;
        transform: translateX(-50%) scale(1.0);
    }
}

.card__heading input {
    position: absolute;
    appearance: none;
    outline: none;
    pointer-events: none;
}

.card__indicator {
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0.2rem var(--_clr-dark-blue);
    border-radius: 9999px;
    background: var(--_clr-white);
    color: var(--_clr-dark-blue);
    /*===== Suddenly stopped working, when made changes to folder structure, so for now i have to force this padding =====*/
    padding: 0.2rem !important;
}

.card__indicator * {
    transition: 0.15s ease-in-out;
}

.card__body {
    max-height: 0;
    overflow: hidden;
    /*===== Suddenly stopped working, when made changes to folder structure, so for now i have to force this padding =====*/
    padding: 0 var(--_spacing-1) !important;
    transition: 0.1s ease-in-out;
    border: solid thin var(--_clr-light-grey);
    border-top: none;
    border-bottom: none;
    font-size: 14px;
}

.cardOpen {
    max-height: 100%;
    /*===== Suddenly stopped working, when made changes to folder structure, so for now i have to force this padding =====*/
    padding: var(--_spacing-2)  var(--_spacing-1) !important;
}

.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid thin var(--_clr-light-grey);
    border-bottom-left-radius: var(--_border-radius);
    border-bottom-right-radius: var(--_border-radius);
}

.card__date {
    display: flex;
    gap: calc(var(--_spacing-1) * 0.3);
}

.card__priority {
    position: relative;
}

.card__priority::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 9999px;
}

.LOW::before {
    background: var(--_clr-green);
}

.MODERATE::before {
    background: var(--_clr-yellow);
}

.HIGH::before {
    background: var(--_clr-red);
}