.timelineContainer {
    /*===== Colors =====*/
    --_clr-dark-blue: #374656;
    --_clr-white: #ffffff;
    --_clr-grey: #777;
    --_clr-light-grey: #f0f2f5;
    --_clr-green: #0fe697;
    --_clr-red: #ff6361;
    --_clr-yellow: #ffa600;

    /*===== Spacing =====*/
    --_spacing-1: 1rem;
    --_spacing-2: 1.5rem;
    --_spacing-3: 2rem;
    --_spacing-4: 2.5rem;
    --_spacing-5: 3rem;
    --_spacing-6: 3.5rem;
    --_spacing-7: 4rem;

    /*===== Border =====*/
    --_border-radius: 1rem;

    /*padding: 3rem 4rem;*/
    display: grid;
    align-items: center;
    gap: var(--_spacing-3);
    font-family: Nunito, sans-serif;
    container-type: inline-size;
    background: var(--_clr-white);
    color: var(--_clr-dark-blue);
    border: solid thin var(--_clr-light-grey);
    border-radius: var(--_border-radius);
}

.timelineContainer * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.timelineHeading {
    text-transform: uppercase;
    padding: var(--_spacing-1);
    border-bottom: solid thin var(--_clr-light-grey);
}

.timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 350px;
    margin: var(--_spacing-1);
    overflow-x: hidden;
    border-bottom-left-radius: var(--_border-radius);
    border-bottom-right-radius: var(--_border-radius);

}

.timeline::after {
    content: '';
    position: absolute;
    top: var(--_spacing-3);
    background: var(--_clr-dark-blue);
    width: 0;
    height: 0.2rem;
    z-index: 90;
    animation: expandWidth 1s ease 2s forwards;
}

@keyframes expandWidth {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.timeline__items {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: var(--_spacing-1);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: x mandatory;
    padding-top: var(--_spacing-7);
    padding-bottom: var(--_spacing-3);
    list-style-type: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

/*===== Using container, since dunno where this component would be used, so can't rely on screen width =====*/
/*===== Support in caniuse.com is ~ 91.4%, so relatively safe and supported major browsers =====*/
@container (min-width: 550px) {
    .timeline__items {
        grid-auto-columns: 45%;
    }
}

@container (min-width: 992px) {
    .timeline__items {
        grid-auto-columns: 30%;
    }
}

@container (min-width: 1200px) {
    .timeline__items {
        grid-auto-columns: 21%;
    }
}

.timeline__items::-webkit-scrollbar {
    display: none;
}

.timeline__item {
    position: relative;
    scroll-snap-align: start;
    transform: translateY(1rem);
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    z-index: 98;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.timeline__console {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    padding: var(--_spacing-1);
    width: 100%;
    background: transparent;
}

.timeline__consoleItems {
    position: relative;
    display: flex;
    gap: var(--_spacing-1);
    list-style-type: none;
}

.timeline__consoleBtn {
    border-radius: var(--_border-radius);
    height: 3rem;
    width: 3rem;
    background: var(--_clr-dark-blue);
    color: var(--_clr-white);
    outline: none;
    border: none;
    appearance: none;
    cursor: pointer;
}

